/** Main layout **/

html, body {
    /*background: #364B66 !important; */
    font-family: Helvetica, Arial, Sans !important;
}

body {
	width: 100%;
    margin: auto;
	font-size: 0.9em;
	background-color: #B8C569;;
}

#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-color: #fff;
	margin-top:25px;
	
	background-image: url(../images/column_background.jpg);
	background-repeat: repeat-y;
	background-position: right;
}

/** header **/
#headerbar{
	width: 100%;
	background-color: #444;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}
#header {
	margin-left: auto;
	margin-right: auto;
    width: 960px;
	text-align: left;
    background-color: #444;
	color: #fff;
}


#logo {
	width:60%;
	display: inline;
}	

#logo a {
	font-size:1.6em;
    margin: 5px;
    color: #fff;
    text-decoration:none;
	font-weight: bold;
}

#logo a:hover {
	color: #eee;
}

#logo span {
    color: #f00;
    /*font-size: 70%;*/
}

#hello, #search {
	display: inline;
	margin-left: 15px;
}

#hello a {
	text-decoration: none;
	color: #eee;
	border-bottom: 1px dotted #eee;
}

#hello a:hover{
	color: #fff;
}	

#search{
	float: right;
}



#title {
    background: #B8C569;
    padding: 20px 30px 30px 20px;
    margin: 20px 0;
    color: #3C4313;
    position: relative;
    -webkit-border-radius: 16px;
    -webkit-box-shadow: 0 2px 0 #93A045;
    -moz-border-radius: 16px;
}



#title h1 {
    font-size: 64px;
    margin: 0;
}

#title h1 a {
    text-decoration: none;
    color: inherit;
}

#title h2 {
    font-size: 26px;
    margin: 0;
    font-weight: normal;
}

#tools {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 10px;
    right: 20px;
}

#tools a {
    color: #fff;
    text-decoration: none;

}

/** Query form **/

#queryform {
	padding: 10px;
	font-size: 0.9em;
	width: 750px;
}

#preview {
	padding: 10px;
	font-size: 0.9em;
	width: 750px;
}

#queryform label {
    width: 20%;
    float: left;
}

#queryform label.rte{
	width: auto;
	float: none;
	}

#queryform textarea {
   width: 95%;
	/*overflow: auto;*/
}    

#queryform input {
	width: 95%;
}	

#queryform input.narrow{
	width: 33%;
}

#queryform input.extra_narrow{
	width: 20%;
}

#queryform button {
    margin: 5px;
    margin-right: 10px;
}

#queryform fieldset {
	margin: 0 0 1em 0;
	/*margin-bottom:10px;*/
	padding: 5px;
	background-color: #eee;
}

#queryform fieldset.query {
	background-color: #FEFFF8;
}	


/** lists on right hand side **/

#lists {
	float: right;
	width: 300px;
	background-color: #F5F5F5;
	padding: 10px;

}



/** Main content container **/

#main {
    background: #fff;
    /*background: -webkit-gradient(linear, left top, left 30%, from(#314660), to(#364B66));
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px; */

    

}

#content {
	margin: 0 320px 0 0;

}


/** Footer **/

#footer {
    border-top: 1px solid #45597A;
    font-size: 70%;
    padding: 10px 30px;
    text-align: center;
    color: #fff;
	background-color: #76848C;
    margin-top: 60px;
    clear: both;
}

#footer a {
    color: #fff;
    font-weight: bold;

}

/** Full display of a query **/
.full .label {
    font-weight: bold;
    padding-right: 20px;
    padding-bottom: 8px;
}   


img.delete , img.edit {
	border: none;
}	

#content h2 {
	margin-top: 10px;
	margin-bottom: 20px;
}

#content h3 {
	margin-top: 20px;
	margin-bottom: 5px;
}

#content ul.qlist {
	
	list-style:none;
	padding: 0;
	margin: 0;
}



#content .qlist li.complete {
	background-color: #ffffff;
}



#content .qlist  li.notcomplete {
	background-color: #ffffff;
}


#content .qlist li:hover {
	background-color: #FAFAF8;
}

#content .qlist a {
	text-decoration: none;
	color: #000;
}

#content .qlist a:hover {
	text-decoration: underline;
}

#content div.question {
	
}

#content div.links {
	text-align: right;
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

.links .staffname {
	text-align: right;
	font-size: 12px;
	color: #aaa;

}

.archived {
	border: 1px solid #aaa;
	padding: 2px;
}

.completed {
	color: #90A316;
	padding: 5px;
	padding-left: 20px;
	background-image: url(../images/tick.png);
	background-repeat: no-repeat;
	background-position: left;
}



#content div.when {
	font-size: 12px;
	color: #aaa;
}

div.when .overdue {
	color: red;
}

/* don't mark overdue if we have completed it */
li.complete span.overdue, li.complete span.ontime {
	color: #aaa;
}

div.when .ontime {
	color: darkgreen;
}





.success {
    background: #67AD10;
    color: #fff;
    padding: 15px;
	font-size: 1.1em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B; 
}

.error {
    background: #c00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #800;
}

.success, .error {
	position: absolute;
	left: 50%;
	top: 10px;
}

 button#addastat, a#addnewquery {
	font-weight: bold; 
	font-size:1.5em; 
	padding: 4px;
	margin: 20px 20px 20px 0;
}

button.edit {
	width: 60px;
}

#stat_summary {
	color: #fff;
	font-size: 90%;
	margin-bottom: 5px;
}


#undostat {
	text-align: center;
    background: #FCA105;
	padding: 5px;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B; 
}

#listcontainer {
	width:90%;
	margin-left: 5%;
	margin-right: 5%;
}

#querylist { 
	border-collapse: collapse;
	border: 1px solid #555;
	width: 100%;
}
#querylist th, #querylist td { padding: 0.5em; }



#querylist tr:hover {
	background-color: #FBFFE6;
}

.menu {
	display: inline;
	margin-right: 40px;
	padding: 5px;
	border: 1px solid #111;
}	
.listmenu {
	display: inline;
	padding-left: 0;
}

.listmenu li
{
display: inline;
list-style-type: none;
padding-right: 10px;

}


.qlist li {
	border-bottom: 1px dotted #ccc;
	padding: 10px;
	font-size: 15px;
	line-height: 19px;
}

.qlist .cbox {
	display: inline;
	clear: none;
}

.qlist .q, div.when {
	margin-left: 30px;
}

.links .ui-button, #batch .ui-button {
	font-size: 12px;
	padding: 2px;
}
#batch {
	margin-top: 5px;
	float: left;
}	

h2.listTitle {
	margin-bottom: 60px;

}

div.checker {
	float: left;
	height: 100%;
}	

span.summary {

	display: block;
	color: #888;
	margin-bottom: 5px;
	font-size: 0.8em;
}	
.pagination-container {
	font-size: 0.8em;
	margin-top: 5px;
	float: right;
}	
.pagination li {
	border: none;
}	
.tabs {
	padding: 5px;
}	

.tabs li {
	list-style: none;
}	

.tabs a {
	width: 100%;
}

h2.listTitle, #bigbuttons, #batch, .summary {
	margin-left: 10px;
}	

#fancybox-wrap {
  margin: -70px 0 0 0;
}

a.preview_edit_link {
	float: right;
}

#latest_activity {
	font-size: 12px;
	color: #aaa;
	list-style: none;
	margin-left: 0;
	padding-left:5px;
}

#latest_activity  li{
	margin-bottom:15px;
}


#latest_activity  li:hover {
	background-color: #FAFAF8;
}

#latest_activity  a {
	text-decoration: none;
	color: #000;
}

#latest_activity a:hover {
	text-decoration: underline;
}

  .tooltip {
    display:none;
    background-color:#ffa;
    border:1px solid #cc9;
    padding:3px;
    font-size:13px;
    -moz-box-shadow: 2px 2px 11px #666;
    -webkit-box-shadow: 2px 2px 11px #666;
  }
