*{ Display a query in one of these modes: 'full' or 'row' }*

#{if _as == 'list'}
<li class="${query_parity}">

    <a href="@{Application.show(_query.id)}">${_query.question}</a> - ${_query.created ? 'registered ' + _query.created.since() : ''}


    
        #{if _query.completed}
            Archive, Add to RKB and Archive
       #{/if}
       #{else}
            <a href="@{Application.deleteQuery(_query.id)}"><img class='delete' src="@{'/public/images/delete.png'}" alt="delete"/></a>
			<a href="/admin/queries/${_query.id}"><img class='edit' src="@{'/public/images/page_edit.png'}" alt="edit"/></a>
       #{/else}     
</li>
#{/if}  

#{if _as == 'full'}
<table class="full">
    <tr><td class="label">Client Name</td><td>${_query.clientName}</td></tr>
    <tr><td class="label">Client Email</td><td>${_query.clientEmail}</td></tr>
	<tr><td class="label">Client Phone</td><td>${_query.clientPhone}</td></tr>
    <tr><td class="label">Client Type</td><td>${_query.clientCategory}</td></tr>
	<tr><td class="label">Client Description</td><td>${_query.clientDescription}</td></tr>
    <tr><td class="label">Question</td><td>${_query.question}</td></tr>
    <tr><td class="label">Answer</td><td>${_query.answer}</td></tr>
    <tr><td class="label">Comments</td><td>${_query.comment}</td></tr>
    <tr><td class="label">Staff Member</td><td>${_query.staffMember.fullname}</td></tr>
    <tr><td class="label">due</td><td>${_query.due}</td></tr>
    <tr><td class="label">completed</td><td>${_query.completed}</td></tr>
    <tr><td class="label">updated</td><td>${_query.updated}</td></tr>
</table>

#{/if}    
   

