#{extends 'main.html' /}
#{set title:'Add or Edit Query' /}


		<script src="@{'/public/javascripts/jquery.textarea-expander.js'}"></script>
		<script src="@{'/public/ckeditor/ckeditor.js'}"></script>

<h1>Send Email</h1>		
		
<div>

#{form @emailQuery(), id:'emailForm', enctype:'multipart/form-data' }
 
     #{if flash.success}
        <p class="success">${flash.success}</p>
    #{/if}
 
    #{ifErrors}
        <p class="error">
            Please correct these errors.
        </p>
    #{/ifErrors}
    
	#{field 'id'}<input type="hidden" id="${field.id}" name="${field.name}" value="${q?.id}" class="${field.errorClass}" />#{/}

	<fieldset>
    <legend>Send To</legend>
	#{field 'sendTo'}
	<p id="sendingAddresses">
		<input type="checkbox" name="${field.name}" value="client" title="${q?.clientEmail}" /> Client (${q?.clientEmail}) <br />
		<input type="checkbox" name="${field.name}" checked value="self" title="${q.staffMember.email}" /> Staff Member (${q.staffMember.email}) <br />
		#{if play.Play.configuration.get("reference_email")}
			<input type="checkbox" name="${field.name}" value="reference" title="${play.Play.configuration.get("reference_email")}"/> Reference Email ( ${play.Play.configuration.get("reference_email")}) <br />
	    #{/if}
	#{/}
	</p>
	</fieldset>
	
	<p>From: ${q.staffMember.email} </p>
	
	
	
	
	
    #{field 'subject'}
    <p>
      <label for="${field.id}">Subject</label>
      <input type="text" id="${field.id}" name="${field.name}" value="Query for ${q?.clientName}" class="${field.errorClass}" />
    </p>
    #{/}
	
	    #{field 'body'}
    <p>
      <label for="${field.id}">Body</label>
      <textarea id="${field.id}" name="${field.name}" class="${field.errorClass}" />
		<h3>Query Text</h3><div>${q?.question}</div><h3>Answer</h3><div>#{verbatim}${q?.answer}#{/verbatim}</div>
	  </textarea>
    </p>
    #{/}


<hr />	
<div>
<input type="submit" class="btn email" value="Send"/>
<a href="@{Application.index()}" id='form_canel' class="btn">Cancel</a>
</div>

#{/form}

</div>


<script>

	var cConf = "@{'/public/javascripts/ck_custom_config.js'}";
	var fUpload = "@{ckUpload}";
	
	CKEDITOR.replace('body',
			{customConfig : cConf,
			 filebrowserUploadUrl : fUpload});

// add some jQuery UI styling to elements
$(".btn").button();


$("#emailForm").submit(function(e){

	var sends = [];
	$("#sendingAddresses :checked").each(function(){
		sends.push($(this).attr('title'));
	});
	
	sendAddresses = sends.join(", ");
	
	

    if (!confirm("About to send email to " + sendAddresses + " - are you sure?"))
    {
        e.preventDefault();
        return;
    } 
});


</script>

</script>
