<div id="extra">
	<h3>Staff Resources</h3>
	<ul>
            <li class="odd"><a href="\\pjsdsw2fs02/data$/Library/WorkGroups/Reference/onlineservices.htm">Database Passwords</a></li>
            <li class="even"><a href="#">New Bills List</a></li>
            <li class="odd"><a href="#">Parliamentary Library Contacts</a></li>
            <li class="even"><a href="#">Lawstuff</a></li>
	</ul>
</div>

