#{extends 'main.html' /}
#{set title:'Add or Edit Query' /}


		<script src="@{'/public/javascripts/jquery.textarea-expander.js'}"></script>
		<script src="@{'/public/ckeditor/ckeditor.js'}"></script>
		

<div id="queryform">

#{form @save(), enctype:'multipart/form-data' }
 
     #{if flash.success}
        <p class="success">${flash.success}</p>
    #{/if}
 
    #{ifErrors}
        <p class="error">
            Please correct these errors.
        </p>
    #{/ifErrors}
    
	
    <fieldset>
    <legend>Client</legend>	
	
	#{field 'clientId'}<input type="hidden" id="${field.id}" name="${field.name}" value="${q?.client?.id}" class="${field.errorClass}" />#{/}
	#{field 'id'}<input type="hidden" id="${field.id}" name="${field.name}" value="${q?.id}" class="${field.errorClass}" />#{/}
	
    #{field 'clientName'}
    <p>
      <label for="${field.id}">Name</label>
      <input type="text" id="${field.id}" name="${field.name}" value="${q?.clientName}" class="${field.errorClass} narrow">
    </p>
    #{/}
    

	#{field 'clientEmail'}
    <p>
      <label for="${field.id}">Email</label>
      <input type="text" id="${field.id}" name="${field.name}" value="${q?.clientEmail}" class="${field.errorClass} narrow">

    #{/}
	
	#{field 'clientPhone'}

      <label style="display: inline; float: none; margin-left:20px;" for="${field.id}">Phone</label>
      <input type="text" id="${field.id}" name="${field.name}" value="${q?.clientPhone}" class="${field.errorClass} extra_narrow">
      
    </p>
    #{/}
	
	#{field 'clientCategory'}
    <p>
      <label for="${field.id}">Category</label>
	  
	  #{select 'clientCategory', items:categories, valueProperty:'category', value:q?.clientCategory, id: 'clientCategory'}
	  #{/select}

      
    </p>
    #{/}	
	

	
	#{field 'clientDescription'}
    <p>
      <label for="${field.id}">Client Description</label>
      <input type="text" id="${field.id}" name="${field.name}" value="${q?.clientDescription}" class="${field.errorClass}">
      
    </p>
    #{/}
	
	
	</fieldset>
	
	
	
	
	<fieldset class="query">
    <legend>Query</legend>	
    #{field 'question'}
    <p>
      <label for="${field.id}">Text of Query</label>
      <textarea id="${field.id}" name="${field.name}"  class="${field.errorClass} resizable">${q?.question}</textarea>
      
    </p>
    #{/}
    
    #{field 'due'}
    <p>
      <label for="${field.id}">Due Date</label>
      <input type="date" id="${field.id}" name="${field.name}" value="${q?.due?.format('yyyy-MM-dd')}" class="${field.errorClass} narrow">
      
    </p>
    #{/}
    
    #{field 'answer'}
    <p>
      <label class="rte" for="${field.id}">Answer</label>
      <textarea id="${field.id}" name="${field.name}"  class="${field.errorClass}" rows="3">${q?.answer}</textarea>
      
    </p>
    #{/}
    
    #{field 'comment'}
    <p>
      <label for="${field.id}">Comments</label>
      <textarea id="${field.id}" name="${field.name}"  class="${field.errorClass} resizable">${q?.comment}</textarea>
      
    </p>
    #{/}
	

    </fieldset>
	
	#{field 'staffId'}
    <p>
      <label for="${field.id}">Staff Member</label>
	  
	  #{select 'staffId', items:staffMembers, labelProperty:'fullname', value: q?.staffMember?.id ? q?.staffMember?.id : staffId, id: 'staffId'}
	  #{/select}

      
  
    </p>
    #{/}

    #{field 'isCompleted'}
    <p>
      <label for="${field.id}">Completed?</label>
      <input type="checkbox" id="${field.id}" style="width: 20px;" name="${field.name}" #{if q?.isCompleted}checked#{/if} class="${field.errorClass}" />
      
    </p>
    #{/}	

    <fieldset>
    <button id='save_incomplete'>Save</button>
	<!--<button id='preview' onClick="return false;">Preview</button>	-->
	#{if q?.id}<button value="@{Application.batchDelete(q?.id)}"class="confirmBeforeDelete">delete</button>#{/if}
	<a href="@{Application.index()}" id='form_canel'>Cancel</a>
    </fieldset>


#{/form}
</div>
<script type="text/javascript">
	
	var cConf = "@{'/public/javascripts/ck_custom_config.js'}";
	var fUpload = "@{ckUpload}";
	
	CKEDITOR.replace('answer',
			{customConfig : cConf,
			 filebrowserUploadUrl : fUpload});
			 
</script>



<script>
	$( ".resizable").TextAreaExpander(35, 150);
</script>

<script>



$("button.confirmBeforeDelete").each(function(){
	var delpage = $(this).attr("value");
	var qmessage = "${q?.question}";
	
	$(this).click(function(){
		//TODO: use a jquery ui modal dialog
		if(confirm("About to delete query: \n " + qmessage)){
			$.ajax({url: delpage});
			//parent.$.fancybox.close(); 
			parent.location.href = delpage;
			return false;

		}
		else{
			return false;
		}

		
	});
});

$(":date").dateinput({format: 'dd mmm yyyy'});

$('#clientName').autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "@{Lookup.client}",
					dataType: "json",
					data: {
						term: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								label: item.fullname + ": " + item.type + ", " + item.description,
								value: item.fullname,
								email: item.email,
								phone: item.phone,
								type:  item.type,
								description: item.description,
								id: item.id
							}
						}));
						
						$("#hide_me").show();
					}
				});
			},
			minLength: 2,
			select: function( event, ui ) {
				
					$("#clientEmail").val(ui.item.email);
					$("#clientCategory").val(ui.item.type);
					$("#clientPhone").val(ui.item.phone);
					$("#clientDescription").val(ui.item.description);
					$("#clientId").val(ui.item.id);
					
					
			},
			open: function() {
				//$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
			},
			close: function() {
				//$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
			}
});		



// add some jQuery UI styling to elements
$("a#form_canel").button();
$("button#save_incomplete").button();
$("button.confirmBeforeDelete").button({
								icons: { primary: "ui-icon-trash" }
								});
// fade out flash messages
$(".success").delay(2000).fadeOut(1000);

//$("form").addClass("ui-widget");
//$("legend").addClass("ui-widget-header");
//$(":text").addClass("ui-widget-content").addClass("ui-corner-all");
</script>