#{extends 'main.html' /}
#{set title:'Home' /}


<div id="lists" class="ui-corner-tr">

    <div class="resources">
	
<ul class="tabs">
	<li #{if current == "my"}class="current"#{/if}><a href="@{Application.index('my')}">My Queries</a></li>
	<!--<li #{if current == "my"}class="current"#{/if}><a href="@{Application.index('archive')}">Archived Queries</a></li>-->
	<li #{if current == "all"}class="current"#{/if}><a href="@{Application.index('all')}">Everyone's Queries</a></li>
</ul>
	


		
<div>
	#{if activities.size()}
	<h3>Latest Activity</h3>
	<ul id="latest_activity">
		#{list activities, as:'activity'}
			<li>
				<a class="fbox" 
				   href="@{Application.preview(activity.query.id)}">
				   ${activity.query.question.length() > 75 ? activity.query.question[0..75] + '...' : activity.query.question}
				</a> 
				${activity.action} ${activity.date.since()} by ${activity.staffMember.fullname}
			</li>
		#{/list}
	</ul>	
	#{/if}
</div>		

    <!--<a href="#" id="extrainfo">Staff Resources</a>-->

</div>

</div><!-- end of #lists div -->


<div id="content" class="ui-corner-all">


<div id="bigbuttons">
    <a class="tt" href="@{Application.form()}"id="addnewquery" title="This is for entering a new query - will also update the stats automatically">Add new query</a>
	<button class="tt" id="addastat" style="float: right" title="Increments the stat count in the top right - use for simple requests">Add a stat</button>
</div>





<h2 class="listTitle">${listTitle}</h2>
<div id="tabcontent">

#{if queries.size()}
#{paginate.summary items:paginator /}
<ul class="qlist">
#{paginate.list items:paginator, as:'query'}
	<li class="${query_parity} #{if query.isCompleted}complete#{/if}#{else}notcomplete#{/else}">

		<div class="checker">
			<input class="qbox" name="selectme" type="checkbox" value="${query.id}" />
		</div>
		
			<div class="links"> 			
				<!--<button value="@{Application.batchDelete(query.id)}"class="confirmBeforeDelete">delete</button>-->
				<a href="@{Application.form(query.id)}" class="edit">edit</a>			
				<div class="staffname">${query.staffMember.fullname}</div>
				
			</div>

		
						
		
		<div class="q ${query.id}"><a class="fbox" href="@{Application.preview(query.id)}">${query.question.length() > 75 ? query.question[0..75] + '...' : query.question}</a>
		
		</div>

		<div class="when">${query.created ? query.created.since() : ''}
						  #{if query.due}
							  #{if query.due.getTime() < new Date().getTime() }
								<span class='overdue'>
							  #{/if}
							  #{else}
							    <span class="ontime">
							  #{/else}						      	
							  - due ${query.due.format("dd MMM")}
							  </span>
						  #{/if}
						  
						  <!-- also put in if it is archived -->
						  #{ if query.isArchived}<span class="archived">Archived</span>#{/if}
						  #{ if query.isCompleted}<span class="completed">Completed</span>#{/if}
		</div>
	</li>
#{/paginate.list}
</ul>
<div id="batch">
	<button id="batchcomplete">Mark Complete</button>
	<button id="batchdelete">Delete</button>
	<!--<button id="batcharchive">Archive</button>-->
</div>
#{paginate.controls items:paginator /}
#{/if}
#{else}
    <div class="empty">
        Nothing found. 
    </div>
#{/else}

</div> <!-- tabcontent -->
</div>
  


<script type="text/javascript" src="@{'/public/ckeditor/ckeditor.js'}"></script>


<script src="@{'/public/javascripts/jquery.textarea-expander.js'}"></script>

<script>

function killCK(){

	if(CKEDITOR.instances['answer']){
		CKEDITOR.instances['answer'].destroy(true);	
	}
}
	
$( ".resizable").TextAreaExpander(35, 150);

$(".fbox").fancybox();

$("#extrainfo").fancybox({ 
			'scrolling'		: 'no',
			'href'			: "@{Application.extra}",
			'titleShow'		: true
});

//$("#addnewquery").fancybox({
//                        'scrolling'             : 'no',
//                        'href'                  : "@{Application.form}",
//                        'titleShow'             : true,
//						'onClosed'				: killCK
//});


//$("button.edit").each(function(){
//	href = $(this).attr("value");
//
//	$(this).fancybox({
//			'scrolling'		: 'no',
//			'href'			: href,
//			'titleShow'		: true,
//			'onClosed' 		: killCK
//	});
//});

$("#batchcomplete").click(function(){
	batch("complete");	
});

$("#batchdelete").click(function(){
	batch("delete");	
});

$("#batcharchive").click(function(){
	batch("archive");	
});

function batch(action){
	
	var count =0;
	var toprocess = "";
	$("input:checked").each(function(index){
		toprocess += "ids="+$(this).attr("value")+"&";
		count++;
	});
	

	var completeAction;
	if(action == "complete"){
		completeAction = #{jsAction @batchComplete() /};
	}
	else if (action == "delete"){
		completeAction = #{jsAction @batchDelete() /};
	}
	else if (action == "archive"){
		completeAction = #{jsAction @batchArchive() /};
	}
	
	if(confirm("About to " + action + " " + count + " queries - \n are you sure?")){
			window.location = completeAction() + "?" + toprocess;
			return false;
	}
	else{
		return false;
	}
	
}

// add some jQuery UI styling to elements

$("button").button();

$("#addnewquery").button();
$("a.edit").button();

$(".tabs a").button();


$("button.confirmBeforeDelete").button({
								icons: { primary: "ui-icon-trash" }
								});
$("button.edit").button({
								icons: { primary: "ui-icon-pencil" }
								});

// and add the tooltips for the big buttons
$(".tt").tooltip({position: "bottom center"});

//$("form").addClass("ui-widget");
//$("legend").addClass("ui-widget-header");
//$(":text").addClass("ui-widget-content").addClass("ui-corner-all");
</script>
