<div id="preview">

<h1>Query for ${q?.clientName}</h1>
<div>#{if q?.clientEmail}Email: ${q?.clientEmail}#{/if}  #{if q?.clientPhone}Phone: ${q?.clientPhone}#{/if}</div>
<div id="preview_content">



<h2>Query Text</h2>
<div>${q?.question}</div>

<h2>Answer</h2>
<div>#{verbatim}${q?.answer}#{/verbatim}</div>

</div><!-- end of preview content -->	
<hr />	
<div>
<a class="btn" onclick="printIt('#preview_content');">Print</a>
<a href="@{Application.form(q?.id)}" class="btn">Edit</a>
<a href="@{Application.emailForm(q?.id)}" class="btn email">Email</a>
<a href="@{Application.index()}" id='form_canel' class="btn">Cancel</a>
</div>

</div>

<script>

// add some jQuery UI styling to elements
$("A.btn").button();



function printIt(id)
{
	win = window.open();
	self.focus();
	win.document.open();
	win.document.write('<'+'html'+'><'+'head'+'><'+'style'+'>');
	win.document.write('body, td { font-family: Verdana; font-size: 10pt;}');
	win.document.write('<'+'/'+'style'+'><'+'/'+'head'+'><'+'body'+'>');
	win.document.write($(id).html());
	win.document.write('<'+'/'+'body'+'><'+'/'+'html'+'>');
	win.document.close();
	win.print();
	win.close();
}
</script>

</script>
