#{extends 'main.html' /}

<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/play-pagination.css'}">

#{set title:'Query List' /}

<div class="menu">My queries:
<ul class="listmenu">
	<li>complete</li>
	<li>incomplete</li>
	<li><a href="@{Application.querylist('me')}">all</a></li>
</ul>
</div>
	
<div class="menu">Everyone's queries:
<ul class="listmenu">
	<li>complete</li>
	<li>incomplete</li>
	<li><a href="@{Application.querylist('all')}">all</a></li>
</ul>
</div>

<div id="listcontainer">

 
<h2>Query List</h2>
	

<table id="querylist">
	<tr>
		<th>Client</th>
		<th>Query</th>
		<th>Staff Member</th>
		<th>Date Entered</th>
		<th>Date Due</th>
		<th>Completed</th>
	</tr>

	#{paginate.list items:paginator, as:'r'} 
		<tr class="${r_parity}">
			<td>${r?.client}</td>
			<td><a href="@{index(r.id)}">${r?.question.length() > 75 ? r?.question[0..75] + '...' : r?.question }</a></td>
			<td><a href="@{Application.querylist('staff', r.staffMember.id, null)}">${r?.staffMember.fullname}</a></td>
			<td>${r?.created}</td>
			<td>${r?.due}</td>
			<td>${r.completed}</td>
		</tr>	
	#{/paginate.list}
</table> 
#{paginate.controls items:paginator /} 


</div>